<!doctype html>

<html>
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3SZL2VYX8Q"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date()); gtag("config", "G-3SZL2VYX8Q");</script>
  <link rel="shortcut icon" href="favicon.ico">
  <title>Stock Hunter 2030</title>
</head>

<body>
  {% if debug %}
    debug_mode: {{ debug }}
    <br>{{ stocks }}
  {% endif %}
  <h1>Stock Hunter 2030</h1>
  {{ stocks | length }}
  <br>
  {% for stock, v in stocks.items() %}
    .{{ stock }}:{{ v.category }}.
  {% endfor %}
  <br>
  DATEHERE
  <br>
  <table border=3 width=100%>

    {% for stock, v in stocks.items() %}
      <tr>
        <td width=200>
          <h2>
          <center>
          <a href=https://finance.yahoo.com/quote/{{ stock }} target=_blank>{{ stock }}</a>
          <br>
          <p>category: {{ v.category }}</p>
          </center>
          </h2>
          <p>{{ v.info }}</p>
          <p><center><h3>{{ v.catname }}</h3></center></p>
        </td>

        <td>
          <center>
          <img src=static/{{ stock }}.png>
          </center>
        </td>

        <td width=200>
          <p>LOW: {{ v.low }}</p>
          <p>HIGH: {{ v.high }}</p>
          <p style="color:{{ v.current_color }};"><b>CURRENT: {{ v.current_price }}</v></p>
          <hr>
            {% for avg, a in v.averages.items() %}
              <p style="color:{{ a.color }};">AVG {{ avg }}: {{ a.price }}</p>
            {% endfor %}
          <hr>
          <table width=100%>
            <tr>
              <td bgcolor={{ v.score_color }}>
                <p><br><p>
                <center><h2>{{ v.score }}</h2>
                <p><br><p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    {% endfor %}

  </table>
  <hr>
  <hr>
  <hr>
  <table border=3 width=100%>

    {% for s, v in stocks.items()|sort(attribute='1.score') %}
      <tr>
        <td bgcolor={{ v.score_color }}>
          <center>
            - -
            {% for i in range(1+v.score//10) %}
              -
            {% endfor %}
            {% for i in range(1+v.score//10) %}
              =
            {% endfor %}
            = = >
          </center>
        </td>
        <td>
        {% if v.score_color == 'green' %}
          <h1><center>{{ s }}:{{ v.category }} --- {{ v.score }}</h1>
        {% elif v.score_color == 'yellow' %}
          <h3><center>{{ s }}:{{ v.category }} --- {{ v.score }}</h3>
        {% else %}
          <h6><center>{{ s }}:{{ v.category }} --- {{ v.score }}</h6>
        {% endif %}
        </td>
        <td bgcolor={{ v.score_color }}>
          <center>
            < = =
            {% for i in range(1+v.score//10) %}
              =
            {% endfor %}
            {% for i in range(1+v.score//10) %}
              -
            {% endfor %}
            - -
          </center>
        </td>
      </tr>
    {% endfor %}
  
  </table>
  <p>
  <br>
  <p>
  <center>
  <a href=https://github.com/nand0p/2030>
    https://github.com/nand0p/2030
  </a>
  <br>
  SEDME

</body>
</html>
