<!doctype html>

<html>
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3SZL2VYX8Q"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date()); gtag("config", "G-3SZL2VYX8Q");</script>
  <link rel="shortcut icon" href="favicon.ico">
  <title>Stock Hunter 2030</title>
</head>

<body>
  <h1>Stock Hunter 2030</h1>
  <p>
  <br>
  <h2>
  <table width=100%>
    <tr width=100%>
      <td bgcolor=red align=center><a href=/slow/>All</a></td>
      <td bgcolor=red align=center><a href=/slow/1/>XL</a></td>
      <td bgcolor=red align=center><a href=/slow/2/>Cloud</a></td>
      <td bgcolor=red align=center><a href=/slow/3/>ETFs</a></td>
      <td bgcolor=red align=center><a href=/slow/4/>BioTech</a></td>
      <td bgcolor=red align=center><a href=/slow/5/>Sustainable</a></td>
      <td bgcolor=red align=center><a href=/slow/6/>Crypto</a></td>
      <td bgcolor=red align=center><a href=/slow/7/>Asia</a></td>
      <td bgcolor=red align=center><a href=/slow/8/>Indices</a></td>
    </tr>
    <tr width=100%>
      <td bgcolor=green align=center><a href=/fast/>All</a></td>
      <td bgcolor=green align=center><a href=/fast/1/>XL</a></td>
      <td bgcolor=green align=center><a href=/fast/2/>Cloud</a></td>
      <td bgcolor=green align=center><a href=/fast/3/>ETFs</a></td>
      <td bgcolor=green align=center><a href=/fast/4/>BioTech</a></td>
      <td bgcolor=green align=center><a href=/fast/5/>Sustainable</a></td>
      <td bgcolor=green align=center><a href=/fast/6/>Crypto</a></td>
      <td bgcolor=green align=center><a href=/fast/7/>Asia</a></td>
      <td bgcolor=green align=center><a href=/fast/8/>Indicies</a></td>
    </tr>
    <tr width=100%>
      {% if speed == "fast" %}
        <td bgcolor=green width=100% align=center colspan=9>
          <a href=/slow>rolling fast</a>
      {% elif speed == "slow" %}
        <td bgcolor=red width=100% align=center colspan=9>
          <a href=/fast>rolling slow</a>
      {% endif %}
      </td>
    </tr>
    <tr width=100%>
      <td align=center><a href=/results/>All</a></td>
      <td align=center><a href=/results/1/>XL</a></td>
      <td align=center><a href=/results/2/>Cloud</a></td>
      <td align=center><a href=/results/3/>ETFs</a></td>
      <td align=center><a href=/results/4/>BioTech</a></td>
      <td align=center><a href=/results/5/>Sustainable</a></td>
      <td align=center><a href=/results/6/>Crypto</a></td>
      <td align=center><a href=/results/7/>Asia</a></td>
      <td align=center><a href=/results/8/>Indicies</a></td>
    </tr>
  </table>
  </h2>
  <br>
  <p>
  {{ stocks | length }}
  <br>
  {% for stock, v in stocks.items() %}
    .{{ stock }}:{{ v.category }}.
  {% endfor %}
  {% if debug %}
    <p>debug_mode: {{ debug }}</p>
    <p>{{ stocks }}</p>
    <p>{{ scores|dictsort }}</p>
  {% endif %}
  <br>
  DATEHERE
  <br>
  <table border=3 width=100%>

    {% for stock, v in stocks.items() %}
      <tr>
        <td width=200>
          <h2>
          <center>
          <a href=https://finance.yahoo.com/quote/{{ stock }} target=_blank>{{ stock }}</a>
          <br>
          <p>category: {{ v.category }}</p>
          </center>
          </h2>
          <p>{{ v.info }}</p>
          <p><center><h3>{{ v.catname }}</h3></center></p>
        </td>

        <td>
          <center>
          <img src=/static/{{ speed }}/{{ stock }}.png>
          </center>
        </td>

        <td width=200>
          <p>LOW: {{ v.low }}</p>
          <p>HIGH: {{ v.high }}</p>
          <p style="color:{{ v.current_color }};"><b>CURRENT: {{ v.current_price }}</v></p>
          <hr>
            {% for avg, a in v.averages.items() %}
              <p style="color:{{ a.color }};">AVG {{ avg }}: {{ a.price }}</p>
            {% endfor %}
          <hr>
          <table width=100%>
            <tr>
              <td bgcolor={{ v.score_color }}>
                <p><br><p>
                <center><h2>{{ v.score }}</h2>
                <p><br><p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    {% endfor %}

  </table>
  <hr>
  <hr>
  <hr>
  {% if debug %}
    debug_mode: {{ debug }}
    <p>{{ scores|dictsort }}</p>
  {% endif %}
  <table border=3 width=100%>
    {% for v, s in scores|dictsort %}
      <tr>
        <td bgcolor={{ stocks[s]['score_color'] }}>
          <center>
            -
            {% if v|int > -33 %}
              =
            {% endif %}
            {% if v|int > -22 %}
              =
            {% endif %}
            {% if v|int > -11 %}
              =
            {% endif %}
            {% if v|int > 0 %}
              =
            {% endif %}
            {% for i in range(1 + v|int // 10) %}
              =
            {% endfor %}
            = >
          </center>
        </td>
        <td>
        {% if stocks[s]['score_color'] == 'green' %}
          <h1><center>{{ stocks[s]['category'] }}:{{ s }}:{{ stocks[s]['current_price'] }} --- {{ v }}</h1>
        {% elif stocks[s]['score_color'] == 'yellow' %}
          <h2><center>{{ stocks[s]['category'] }}:{{ s }}:{{ stocks[s]['current_price'] }} --- {{ v }}</h2>
        {% else %}
          <h3><center>{{ stocks[s]['category'] }}:{{ s }}:{{ stocks[s]['current_price'] }} --- {{ v }}</h3>
        {% endif %}
        </td>
        <td bgcolor={{ stocks[s]['score_color'] }}>
          <center>
            < =
            {% for i in range(1 + v|int // 10) %}
              =
            {% endfor %}
            {% if v|int > -33 %}
              =
            {% endif %}
            {% if v|int > -22 %}
              =
            {% endif %}
            {% if v|int > -11 %}
              =
            {% endif %}
            {% if v|int > 0 %}
              =
            {% endif %}
            -
          </center>
        </td>
      </tr>
    {% endfor %}

  </table>
  <p>
  <br>
  <p>
  <center>
  <a href=https://github.com/nand0p/2030>
    https://github.com/nand0p/2030
  </a>
  <br>
  SEDME

</body>
</html>
